html,
body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
.header {
    background-color: #fff;
    background-image: linear-gradient(140deg,red, #EC0868 60%);
    text-align: center;
    height: 100px;
}
.header h3 {
    line-height: 100px;
}
.row {
    padding: 10px;
    background-color: #fff;
    line-height: 18vh;
    height: 100%;
    padding-top: 30px;
}
.col-sm-6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
    font-size: 20px;
}
.col-sm-6 button {
    width: 100%;
    padding: 0 30px;
    line-height: 16vh;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color: #FF173F;
    font-weight: 200;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.6);
}
.col-sm-6 img {
    margin-right: 40px;
}
.col-sm-6 .fa {
    float: right;
    line-height: 105px;
    
    
}
#restaurants {
/*    background-color: #AC6ECA;*/
/*    background-color: #fff;*/
    background: url("Restaurant%20list.png");
    background-size: cover;
    color: white;
    
}
#cafe {
/*   background-color: #86A1EB; */
/*    background-color: #fff;*/
    background: url("Promotions.png");
    
}
#promo{
/*   background-color: #EFA95C; */
     background: url("Promotions.png");
     background-size: cover;
     color: white;
}
#rand {
/*   background-color: #FF6E92; */
/*    background-color: #fff;*/
     background: url("Roulette.png");
     background-size: cover;
     color: white;
}
#contact {
/*    background-color: #5CD2D2;*/
     background: url("Contact%20us.png");
     background-size: cover;
     color: white;
}